<% layout("/layouts/boilerplate.ejs") %>
<!-- <body>
    <h2>Listing Details</h2>
    <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li> &#8377;<%= listing.price.toLocaleString("en-IN") %></li>
        <li><%= listing.location %></li>
        <li><%= listing.country %></li>
    </ul>
    <br>
    <a href="/listings/<%=listing._id%>/edit">Edit this Listing</a>
    <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>
    
</body> -->

<% layout("/layouts/boilerplate.ejs") %>

<div class="show-container">

  <!-- IMAGE -->
  <div class="show-image-wrapper">
    <img src="<%= listing.image.url %>" alt="listing image">
  </div>

  <!-- CONTENT -->
  <div class="show-content">

    <h1 class="show-title"><%= listing.title %></h1>

    <p class="show-location">
      <%= listing.location %>, <%= listing.country %>
    </p>

    <p class="show-price">
      ₹<%= listing.price.toLocaleString("en-IN") %> <span>/ night</span>
    </p>

    <div class="show-description">
      <p><%= listing.description %></p>
    </div>

    <!-- ACTIONS -->
    <div class="show-actions">
      <a href="/listings/<%= listing._id %>/edit" class="btn-outline">
        Edit Listing
      </a>

      <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="btn-danger">Delete</button>
      </form>
    </div>

  </div>
</div>

